/***************
  HTML Styles
***************/
html {
    overflow-x: hidden;
}

body {
  background-color: #fcfcfc;
}
p.box {
  padding: 20px;
}
p {
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

nav {
  a {
    -webkit-font-smoothing: antialiased;
  }
  ul li:hover, ul li.active {
  }
}

.header {
  font-weight: 300;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 20px;
}

.parallax-container {
  height: 30vh;

  .text-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -27px;
  }

}
@media #{$medium-and-down} {
  .parallax-container {
    height: auto;
  }
}

// Table of contents
ul.table-of-contents {
  margin-top: 1.5rem;
}

// Footer styling
#footer .footer-block {
  display: inline-block;

  a {
    margin-left: 25px;
    vertical-align: bottom;
  }
}
@media #{$medium-and-down} {
  .footer-block {
    display: block;
    margin-bottom: 20px;
  }
}

.header.hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

img, figure {
    max-width: 100%;
    height: auto;
}

.container.entry-content figure {
    margin: 0;
}

.main-content-wrapper .parallax-container.featured-image {
    margin-left: -.75em;
}

.container.entry-content .container.entry-meta {
    width: 100%;
    margin: 0;
    padding: 0;
}

.accent-red {
    a { color: color("red", "base");
        &:hover { color: color("red", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("red", "base"); }
    blockquote { border-left: 5px solid color("red", "lighten-3"); }
}
.accent-pink {
    a { color: color("pink", "base");
        &:hover { color: color("pink", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("pink", "base"); }
    blockquote { border-left: 5px solid color("pink", "lighten-3"); }
}
.accent-purple {
    a { color: color("purple", "base");
        &:hover { color: color("purple", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("purple", "base"); }
    blockquote { border-left: 5px solid color("purple", "lighten-3"); }
}
.accent-deep-purple {
    a { color: color("deep-purple", "base");
        &:hover { color: color("deep-purple", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("deep-purple", "base"); }
    blockquote { border-left: 5px solid color("deep-purple", "lighten-3"); }
}
.accent-indigo {
    a { color: color("indigo", "base");
        &:hover { color: color("indigo", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("indigo", "base"); }
    blockquote { border-left: 5px solid color("indigo", "lighten-3"); }
}
.accent-blue {
    a { color: color("blue", "base");
        &:hover { color: color("blue", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("blue", "base"); }
    blockquote { border-left: 5px solid color("blue", "lighten-3"); }
}
.accent-light-blue {
    a { color: color("light-blue", "base");
        &:hover { color: color("light-blue", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("light-blue", "base"); }
    blockquote { border-left: 5px solid color("light-blue", "lighten-3"); }
}
.accent-cyan {
    a { color: color("cyan", "base");
        &:hover { color: color("cyan", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("cyan", "base"); }
    blockquote { border-left: 5px solid color("cyan", "lighten-3"); }
}
.accent-teal {
    a { color: color("teal", "base");
        &:hover { color: color("teal", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("teal", "base"); }
    blockquote { border-left: 5px solid color("teal", "lighten-3"); }
}
.accent-green {
    a { color: color("green", "base");
        &:hover { color: color("green", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("green", "base"); }
    blockquote { border-left: 5px solid color("green", "lighten-3"); }
}
.accent-light-green {
    a { color: color("light-green", "base");
        &:hover { color: color("light-green", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("light-green", "base"); }
    blockquote { border-left: 5px solid color("light-green", "lighten-3"); }
    ul#nav-mobile a { color: #333; }
}
.accent-lime {
    a { color: color("lime", "base");
        &:hover { color: color("lime", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("lime", "base"); }
    blockquote { border-left: 5px solid color("lime", "lighten-3"); }
    ul#nav-mobile a { color: #333; }
}
.accent-yellow {
    a { color: color("yellow", "darken-2");
        &:hover { color: color("yellow", "darken-3") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("yellow", "base"); }
    blockquote { border-left: 5px solid color("yellow", "lighten-3"); }
    ul#nav-mobile a { color: #333; }
}
.accent-amber {
    a { color: color("amber", "base");
        &:hover { color: color("amber", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("amber", "base"); }
    blockquote { border-left: 5px solid color("amber", "lighten-3"); }
    ul#nav-mobile a { color: #333; }
}
.accent-orange {
    a { color: color("orange", "base");
        &:hover { color: color("orange", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("orange", "base"); }
    blockquote { border-left: 5px solid color("orange", "lighten-3"); }
}
.accent-deep-orange {
    a { color: color("deep-orange", "base");
        &:hover { color: color("deep-orange", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("deep-orange", "base"); }
    blockquote { border-left: 5px solid color("deep-orange", "lighten-3"); }
}
.accent-brown {
    a { color: color("brown", "base");
        &:hover { color: color("brown", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("brown", "base"); }
    blockquote { border-left: 5px solid color("brown", "lighten-3"); }
}
.accent-grey {
    a { color: color("grey", "base");
        &:hover { color: color("grey", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("grey", "base"); }
    blockquote { border-left: 5px solid color("grey", "lighten-3"); }
    ul#nav-mobile a { color: #333; }
}
.accent-blue-grey {
    a { color: color("blue-grey", "base");
        &:hover { color: color("blue-grey", "darken-1") }
    }
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] { background: color("blue-grey", "base"); }
    blockquote { border-left: 5px solid color("blue-grey", "lighten-3"); }
}

.accent-red,
.accent-pink,
.accent-purple,
.accent-deep-purple,
.accent-indigo,
.accent-blue,
.accent-light-blue,
.accent-cyan,
.accent-teal,
.accent-green,
.accent-light-green,
.accent-lime,
.accent-yellow,
.accent-amber,
.accent-orange,
.accent-deep-orange,
.accent-brown,
.accent-grey,
.accent-blue-grey {
    nav a,
    footer,
    .btn, .btn-large, button, input[type="button"], input[type="reset"], input[type="submit"] {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}

@media #{$medium-and-down} {
    body {
        .hero .parallax {
            position: absolute;
        }

        &.dark-mode {
            ul.side-nav {
                background: color("blue-grey", "darken-4");

                li {
                    &:hover,
                    .active {
                        background: color("blue-grey", "darken-3");
                    }

                }
            }
        }

        &.light-mode {
            ul#nav-mobile a {
                color: #333;
            }
        }

        &.admin-bar #nav-mobile {
            margin-top: 32px;
        }

    }

}

ul.pagination {
    text-align: center;
    li {
        display: inline-block;
        list-display: none;
        list-display-type: none;
    }
}

.btn.search-submit {
    width: 100%;
}

footer {
    overflow-y: hidden;
}

nav .brand-logo {
    img {
        height: 64px;
        padding: 5px 0;
    }
}

.card.no-depth {
    box-shadow: none;
}

.transparent {
    background: none;
    background-color: none;
    background: transparent;
    background-color: transparent;
}

.page-footer,
.page-footer a {
    color: #fff;
}

.btn.small {
    padding: 0 .5rem;
}

// Hack to fix an issue with double buttons due to a JS miscalculation in materialize.
.waves-input-wrapper {
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        &.waves-button-input,
        &.waves-button-input:hover,
        &.waves-button-input:active,
        &.waves-button-input:focus {
            box-shadow: none;
            background: none;
        }

        box-shadow: none;
        background: none;
    }
}

// Hack to fix missing input checkboxes and radios.
// See https://github.com/Dogfalo/materialize/issues/459 for details.
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    left: 0;
}

#bbp_topic_subscription,
#bbp_private_reply {
    &[type="checkbox"]:not(:checked),
    &[type="checkbox"]:checked {
        position: absolute;
        left: -999px;
    }
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: relative;
    left: 0;
}

body {
    &.layout-0 {
        header {
            margin: 0;
        }
    }
    // &.layout-1,
    // &.layout-2 {
    //     .main-title {
    //         margin-top: -5px;
    //     }
    //     .entry-content {
    //         padding: 0 1em 1em 1em;
    //     }
    // }
}

input {
    #subscribe_comments,
    #subscribe_blog {
        display: none;
    }
}

textarea#comment {
    min-height: 8em;
}
