/***************
  HTML Styles
***************/
body {
  background-color: #fcfcfc;
}
body.parallax-demo {
  height: 100%;
}

p.box {
  padding: 20px;
}
p {
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

nav {
  a {
    -webkit-font-smoothing: antialiased;
  }
  ul li:hover, ul li.active {
    background-color: color("materialize-red", "lighten-1");
  }
}

.header {
  color: color("materialize-red", "lighten-2");
  font-weight: 300;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 20px;
}

.parallax-container {
  height: 70%;

  .text-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -27px;
  }

}
@media #{$medium-and-down} {
  .parallax-container {
    height: auto;
  }
}

// Table of contents
ul.table-of-contents {
  margin-top: 1.5rem;
}

// Footer styling
#footer .footer-block {
  display: inline-block;

  a {
    margin-left: 25px;
    vertical-align: bottom;
  }
}
@media #{$medium-and-down} {
  .footer-block {
    display: block;
    margin-bottom: 20px;
  }
}
