/***************
  HTML Styles
***************/
body {
  background-color: #fcfcfc;
}
p.box {
  padding: 20px;
}
p {
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

nav {
  a {
    -webkit-font-smoothing: antialiased;
  }
  ul li:hover, ul li.active {
    background-color: color("materialize-red", "lighten-1");
  }
}

.header {
  color: color("materialize-red", "lighten-2");
  font-weight: 300;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 20px;
}

// Table of contents
ul.table-of-contents {
  margin-top: 1.5rem;
}

// Footer styling
#footer .footer-block {
  display: inline-block;

  a {
    margin-left: 25px;
    vertical-align: bottom;
  }
}
@media #{$medium-and-down} {
  .footer-block {
    display: block;
    margin-bottom: 20px;
  }
}

.header.hero {
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;

    .parallax-layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &.parallax-layer-base {
            -webkit-transform: translateZ(0);
            transform: translateZ(-10);
        }
        &.parallax-layer-back {
            -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
        }
    }
}
