{% import 'grid_classes.html.twig' as grid %}

<div class="entry-header">
	<div class="{{ grid.container() }} entry-content" itemprop="description">
		{% do action( 'maera/teaser/start', post.ID ) %}
		<title itemprop="name">{{ post.title }}</title>
		<h2 class="entry-title"><a href="{{ post.link }}">{{ post.title|apply_filters( 'maera/title' ) }}</a></h2>
	</div>
</div>
