{% extends "base.twig" %}
{% block main %}
<div class="main" role="main">
	{% if title %}
		<div class="title-container{% if layout == '0' %} container{% endif %}"><h1>{{ title }}</h1></div>
	{% endif %}
	{% block content %}
		{{ __( 'Sorry, no content', 'maera' ) }}
	{% endblock %}
</div><!-- /.main -->
{% endblock %}
